<h3>Bài 48: continouns from folder sign-in</h3>

<form (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
    <!--Trong thẻ input: ngoài required còn có các xử lý lỗi khác như email.
    Lỗi required=true: chưa nhập; lỗi email=true: chưa đúng kiểu email, chưa xác định, not valid-->
    <input placeholder="Email" ngModel #txtEmail="ngModel" name="email" required email>

    <!-- Sử dụng txtEmail thay cho formSignIn.controls.email?: trong thẻ input gán 1 template variable #txtEmail="ngModel" thì txtEmail có thể nhận các giá trị input vào.
    Còn ngModel đứng trước là vẫn để cho có.-->
    <!-- <p *ngIf="formSignIn.controls.email?.errors?.required">Email is required</p> -->
 
    <!-- Thêm sự kiện touched vào có nghĩa là ban đầu chưa show ra lỗi required ngay, khi người dùng kích vào rồi kích chuột ra bên ngoài thì lúc đó nó mới kiểm tra lỗi hay ko.-->
    <p *ngIf="txtEmail.touched && txtEmail.errors?.required">Email is required</p>
    
    <!-- Xử lý lỗi email=true:chưa đúng định dạng. -->
    <p *ngIf="txtEmail.touched && txtEmail.errors?.email">Email is not valid</p>

    <br>

    <!-- Thêm 2 dạng validate là minlength và pattern để quy định kiểu độ dài tối thiểu và kiểu dl nhập vào cho password .
    Vào đây để xem những dạng validate dữ liệu: https://angular.io/api?query=validator  -->
    <input type="password" placeholder="Password" ngModel #txtPassword="ngModel" name="password" minlength="6" pattern="[a-z]*">
    <!-- <input type="password" placeholder="Password" ngModel name="password" required> -->
    <!-- <p *ngIf="formSignIn.controls.password?.errors?.required">Password is required</p> -->

    <br>

    <!-- Bài 49: Xử lý checkbox và ngModelGroup 
      -ngModelGroup="subjects": đặt các checkbox vào trong 1 group subjects, khi kiểm tra thì nó sẽ in ra 
      "subjects": { "NodeJS": false, "Angular": false, "ReactJS": false } 

      -checkbox: [ngModel]="false": ban đầu ko check
    -->
    <div ngModelGroup="subjects">
      <label><input type="checkbox" [ngModel]="false" name="NodeJS">NodeJS</label>
      <label><input type="checkbox" [ngModel]="false" name="Angular">Angular</label>
      <label><input type="checkbox" [ngModel]="false" name="ReactJS">ReactJS</label>
    </div>

    <br>
    <button [disabled]="formSignIn.invalid">Submit</button>
</form>

<!--
-In ra lỗi của ô input email: lỗi required=true: chưa nhập; lỗi email=true: chưa đúng kiểu email, chưa xác định, not valid
Ở đây xuất ra màn hình để test thôi.

-In ra các lỗi của password, dựa theo chuẩn minlength và pattern đã nhập vào ở input.

-Nếu ko có lỗi gì thì trả về null

-formSignIn: in ra tất cả input của formSignIn-->

<p>{{ txtEmail.errors | json }}</p>
<p>{{ txtPassword.errors | json }}</p>
<p>{{ formSignIn.value | json }}</p> 



<!-- custom bên file: STYLES.CSS
-F12 xem khung input email, khi chưa kích vào thì: thấy có các class="ng-untouched ng-pristine ng-invalid", các class con: ng-untouched, ng-pristine, ng-invalid
Còn khi đã kích vào thì các class lại chuyển trạng thái:       class="ng-touched ng-pristine ng-invalid" (ng-invalid: khi chưa nhập, hoặc chưa nhập đúng format) 

vd: ở đây ta sẽ xét nếu như ĐÃ kích chuột vào khung input email rồi lại kích chuột ra ngoài thì đó là touched (class ng-touched), 
nhưng lại chưa thỏa lỗi email(định dạng email) và lỗi required (cả 2 lỗi này thể hiện qua class ng-invalid), thì khung đó sẽ hiện lên màu đỏ.

Lúc này ta cần cấu hình lại file styles.css (file css chính chung cho all) cho 2 class ng-touched (class này chỉ xuất hiện khi trạng thái đã kích vào r kích ra,
ngược lại sẽ hiện class ng-untouched), ng-invalid (trạng thái chưa đúng format email), để khi không thỏa 1 trong 2 cái đó thì sẽ hiện lên viền màu đỏ.

bên file styles.css:
input.ng-invalid.ng-touched {
    border: 2px solid red; 
}
-->

