<h3>{{ en }}</h3>
<p>{{ vn }}</p>

<!-- Các cách gán dữ liệu từ ts sang html: Data Binding -->

<!-- Cách 1 -->
<!--<img src="{{ imageUrl }}" alt=""> -->

<!-- Cách 2: [property] = "value"
Nếu ko có [] thì nó hiểu "imageUrl: là 1 cái link hình ảnh"
Còn nếu có [] thì nó hiểu "imageUrl" là 1 biến trong component -->
<img [src]="imageUrl" alt="">

<!--Cách 2: Thẻ hidden trong html default=true, nghĩa là đang ẩn. 
Ở đây hidden=forgot=false nên sẽ Ko bị ẩn và sẽ hiện lên dòng của biến en-->
<h2 [hidden]="forgot">{{ en }}</h2> 


<!-- Cách 3: (event) = "handler": DOM tương tác ngược lại Component thông qua các event.
Button này sẽ chuyển đổi trạng thái của biến forgot luân phiên true/false.

Khi bấm button này nó sẽ gửi yêu cầu đổi giá trị của forgot xuống component hoặc cách khác là gọi đến hàm toggleForgot() của component,
comp đổi value of forgot thì dẫn đến Dòng dòng Hello ở dưới bị ẩn hiện theo-->
<!-- <button (click)="forgot= !forgot ">Toggle forgot</button> -->
<button (click)="toggleForgot()">Toggle forgot</button>


