<h3>tiếp tục Reactive form. Bài 55: Form builder</h3>
<br>

<!--Mọi giải thích phần trước xem trong: sign-up.component.html-->

<form (ngSubmit)="onSubmit();" [formGroup]="formSignUp">
    <input placeholder="Email" formControlName="email">
    <br>

    <input type="password" placeholder="Password" formControlName="password">
    <br> <br> 

    <div formGroupName="subject">
        <label><input type="checkbox" name="NodeJS" formControlName="nodeJS">NodeJS</label>
        <label><input type="checkbox" name="Angular" formControlName="angular">Angular</label>
        <label><input type="checkbox" name="ReactJS" formControlName="reactJS">ReactJS</label>
    </div>
    <br> <br> 

    <button>Submit</button>
</form>

