
<!-- Pipe: công cụ show dữ liệu ra cho người dùng xem. Chuyển đổi từ dữ liệu thô, sang dữ liệu thân thiện hơn cho người dùng. -->

<!-- Muốn tìm format của date thì angular.io/api rồi chọn pipe trong phần type.
Chọn vào DatePipe để xem các format của nó, có rất nhiều loại format. Kéo xuống để xem Examples ví dụ.-->
<p>
  {{ birthday | date:'medium' }}
</p>

<!-- định dạng json: gọi 1 kiểu OBJECT trong comp ra thì phải định dạng json cho nó. -->
<p>{{ person | json }}</p>

<!-- uppercase, lowercase, titlecase: định dạng hoa, thường, tiêu đề -->
<p>{{ person.name | uppercase }}</p>

<!-- Kết hợp giữa 2 hoặc nhiều pipe: vừa định dạng json, vừa uppercase-->
<p>{{ person | json | uppercase }}</p>

<!-- Dùng AsyncPipe để xử lý bất đồng bộ:  
TH1: nếu là kdl bình thường gửi từ comp qua thì chỉ {{biến}} là đc
-->
<p>{{ addressBT }}</p>

<!-- TH2: nếu là kdl từ server gửi về comp, rồi comp chuyển qua đây. Thì phải dùng async để chuyển.
Vào video sau để hiểu rõ hơn về permise async: https://www.youtube.com/watch?v=Xj0pqYWwX8Y -->
<p>{{ addressServer | async }}</p>

<!-- Custom pipe: tự tạo 1 pipe làm tròn: xem trong round.pipe.ts -->

<!-- Sau khi gọi đến pipe làm tròn, xử lý số, sẽ render ra là 2, chứ ko phải 1.9 -->

<!-- Ở đây ta có truyền vào tham số true/false cho hàm transform() của roundNum, để nó làm tròn lên xuống theo ý muốn. 
:10/:1 là 2 tham số truyền vào cho tham số addTo bên trong hàm  transform().
Truyền vào bao nhiêu tham số cũng đc, mỗi tham số tương ứng truyền theo thứ tự: (pipename: ts1:ts2:ts3...)-->

<p>{{ 1.9 | roundNum: true: 10 }}</p>
<p>{{ 3.7 | roundNum: false: 1 }}</p>

