<h3>tiếp tục Reactive form. Bài 56: Validate trong Reactive form</h3>
<br>

<!--Mọi giải thích phần trước xem trong: sign-up.component.html và sign-up2.component.html-->

<form (ngSubmit)="onSubmit();" [formGroup]="formSignUp">
    <input placeholder="Email" formControlName="email">
    <br>

    <!-- Các lỗi required và kq trả về touched: Xem trong sign-in2.component.html có giải thích. Các object controls, email, errors: đều do tìm thấy khi F12 -->
    <!-- <p *ngIf="formSignUp.controls.email.invalid && formSignUp.controls.email.touched">Email is required</p> -->
    
    <!-- dùng get('email') thay cho  controls.email, nếu là param nodeJS ở bên trong subject thì get('subject.nodeJS')-->
    <p *ngIf="formSignUp.get('email').invalid && formSignUp.get('email').touched">Email is required</p>
    
    

    <input type="password" placeholder="Password" formControlName="password">
    <br> <br> 

    <div formGroupName="subject">
        <label><input type="checkbox" name="NodeJS" formControlName="nodeJS">NodeJS</label>
        <label><input type="checkbox" name="Angular" formControlName="angular">Angular</label>
        <label><input type="checkbox" name="ReactJS" formControlName="reactJS">ReactJS</label>
    </div>
    <br> <br> 

    <!-- Nếu xuất ra invalid=true thì sẽ ẩn btn đi. invalid phụ thuộc vào các validate bên formSignUp của comp-->
    <button [disabled]="formSignUp.invalid">Submit</button>
</form>

<!-- in lỗi ra. Các object controls, email, errors: đều do tìm thấy khi F12 -->
<code>{{ formSignUp.controls.email.errors | json }}</code>