<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Component: Reactive form 2 - Sử dụng custom validator</h3>
    </div>
    <div class="panel-body">
    
        <!-- Các trạng thái:
        input đã đc click vào rồi click ra lại ng-touched, ngược lại ko đc kích vào ng-untouched;
        input đã đc nhập vào ng-dirty, ngược lại ng-pristine;
        input nhập vào hợp lệ ng-valid, ngược lại ng-invalid  
        -->
    
        <!-- 
        -autocomplete="false" và novalidate: dùng để tắt validate của html5, ở đây ta chỉ dùng validate của angular.
        -Lần lượt gọi form và các control bên comp vào: thông qua [formGroup], formControlName, formGroupName(nếu có).
        -->
        <form (ngSubmit)="onSubmitForm();" [formGroup]="formUser"
            autocomplete="false" 
            novalidate="true"
        >
            <div class="form-group">
                <label for="">Username: </label>
                <input type="text" 
                    class="form-control" 
                    name="txtUsername"
                    formControlName="username"
                >
                <!--mỗi lần ấn onSubmitForm() thì hàm sẽ log ra formUser ra F12 để thấy các thành phần đi đến validate:
                theo thứ tự "FormGroup>controls>email>errors" sẽ thấy các validate của email, tương tự như bên sign-up3.component.html.
            
                Vì là reactive form nên các validator đều ở bên comp.ts-->
            
                <!-- bs3-label -->
                <!-- <span class="label label-warning" *ngIf="formUser.controls.username.touched && formUser.controls.username.errors?.required">Vui lòng nhập username</span>
                <span class="label label-warning" *ngIf="formUser.controls.username.dirty && formUser.controls.username.errors?.minlength">Tối thiểu 5 ký tự</span>
                <span class="label label-warning" *ngIf="formUser.controls.username.dirty && formUser.controls.username.errors?.maxlength">Tối đa 20 ký tự</span> -->
    
                
                <!-- NẾU DÙNG COMP VALIDATE, thay cho validate bằng ngIf trực tiếp như trên: Kéo xuống chỗ Fullname để xem giải thích. -->
                <app-reactive-form-error-validate 
                    [control]="formUser.controls.username"
                    [controlname]="'UserName'"
                >
                </app-reactive-form-error-validate>

            </div>
    
            <div class="form-group">
                <label for="">Password: </label>
                <input 
                    type="password" 
                    class="form-control" 
                    name="txtPassword"
                    formControlName="password"
                >
            </div>
    
            <div class="form-group">
                <label for="">Fullname: </label>      
                <input 
                    type="text" 
                    class="form-control" 
                    name="txtFullname"
                    formControlName="fullname"
                >
                <!-- 
                    ***CHÚ Ý:
                    Thay vì gọi ngIf để validate ra như 2 cái ở trên, thì ở đây ta gọi đến comp validate riêng, truyền input qua cho nó.
                Comp đó sẽ thể hiện lỗi ra bên ngoài, mỗi khi có validate.
                +[controlname]: là tên input truyền qua, truyền name của control nào đó qua, ở đây truyền chuỗi cứng "''".
                +[control]: tên input dùng để truyền control fullname qua: formUser.controls.fullname
                
                Chỉ 1 comp xét validate là đc r, vì gửi qua control nào có lỗi thì message===difined và nó mới in ra (qua bên comp validate.html xem đk ngIF).
                Vậy nên nhiều control có thể gọi <comp validate> này cùng 1 lúc.



                ***CHÚ Ý: TỰ NGHIÊN CỨU THÊM VIỆC VALIDATE DỰA TRÊN CÁC CONTROL KHÁC, HOẶC CHÍNH NÓ.
                vd: validate password dựa trên password cũ, nếu đổi nhập pass mà nhập pass cũ thì sẽ báo lỗi "đây là pass cũ, đã đổi vào ngày..."
                */ 
                -->
                <app-reactive-form-error-validate 
                    [control]="formUser.controls.fullname"
                    [controlname]="'FullName'"
                >
                </app-reactive-form-error-validate>
            </div>

    
    
            <div>
                <div class="form-group">
                    <label for="">Email: </label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="txtEmail"
                        formControlName="email"
                    >
                    <!--Chú ý: dùng get('email') thay cho  controls.email: giúp lấy validator email nhanh gọn hơn.
                    Cách này dùng đc cho mọi control của form.
                    Nếu là param của group nào đó thì get('groupname.paramname').
                    -->
    
                    <!-- <span class="label label-warning" *ngIf="formUser.controls.email.dirty && formUser.controls.email.errors?.pattern">Email is not format</span> -->

                    <!-- cách gọi bằng get('') -->
                    <!-- <span class="label label-warning" *ngIf="formUser.get('email').dirty && formUser.get('email').errors?.pattern">Email is not format</span> -->
                

                    <!-- NẾU DÙNG COMP VALIDATE, thay cho validate bằng ngIf trực tiếp như trên: Kéo lên chỗ Fullname để xem giải thích. -->
                    <app-reactive-form-error-validate 
                        [control]="formUser.controls.email"
                        [controlname]="'Email'"
                    >
                    </app-reactive-form-error-validate>
                </div>
    
                <div class="form-group">
                    <label for="">Phonenumber: </label>
                    <input 
                        type="text"
                        class="form-control" 
                        name="txtPhone"
                        formControlName="phone"
                    >
                </div>
            </div>
    
    
            <!-- chỉnh type="submit" để ngSubmit trên form sẽ nhận lệnh khi ấn btn này.
            -invalid=true thì ẩn btn đi.-->
            <button [disabled]="formUser.invalid" type="submit" class="btn btn-primary">Sava</button>
    
            <!-- hàm reset ko cần truyền vào frmUser vì frmUser đc khởi tạo trong file ts luôn rồi, nếu là template driven form thì truyền, hàm này sẽ reset lại mọi giá trị của form -->
            <button (click)="onResetForm()" type="button" class="btn btn-danger">Reset</button>
        </form>
    
    </div>
    </div>