<!-- placeholder: thuộc tính hiện ẩn trong khung -->
<!-- Sử dụng [(ngModel)] để gắn với các biến email, password trong comp. Khi ta nhập từ form vào thì nó tự động gắn giá trị cho các biến đó.-->


<!-- -Có 2 loại phổ biến là Template-driven forms và Reactive Forms: Bài này ta học Template-driven forms 

**Template-driven forms: https://angular.io/guide/forms
-Các control đc bao lại trong thẻ <Form>
-Button Submit trong form: không cần tạo sự kiện (click) trong btn Submit nữa, sự kiện sẽ đc đưa thẳng lên khai báo form, khi bấm btn Submit thì nó sẽ gọi tới sự kiện (submit/ngSubmit) trong khai báo form.

-Tất cả thẻ input đều phải có [(ngModel)], có thể nó ko gắn cho 1 biến nào cả nhưng ép buộc phải có ngModel, chỉ cần ghi ngModel là đc.
ép buộc phải có thuộc tính name="biến mà ngModel gắn" mới có thể sử dụng ngModel trong form.

-Bên trong khai báo form: ngoài sự kiện (submit) đc khai báo tại đây; 
thì còn có directive ngForm đc khai báo: #formSignIn="ngForm";
Template variables #formSignIn đc gắn với directive ngForm để lấy ra các giá trị trong MỌI INPUT của ngForm.

-->

<!-- Xem giải thích ở trên: Tóm gọn ở đây.
-khai báo name="biến gắn với ngModel"
-đưa sự kiện click của Submit lên form thành sự kiện submit/ngSubmit cùng tên với btn Submit.(cho đúng tiêu chuẩn, nếu ko đưa lên cũng đc ko sao cả)
+Nếu để submit thì khi phóng ngoại lệ nó sẽ đưa lên link chứ ko phóng ra console: http://localhost:4200/?email=ffffg&password=f
+Còn nếu để ngSubmit thì khi phóng ngoại lệ trong comp thì nó sẽ show ngoại lệ ra console. 
(Xem ví dụ   throw new Error('Form is invalid'); trong hàm onSubmit() trong comp)



-***thêm directive ngForm, và Template variables #formSignIn gắn với nó:
+ #formSignIn LẤY RA TẤT CẢ CÁC GIÁ TRỊ INPUT VÀO CỦA FORM. 

+Lúc này trong form tất cả input nhập vào là: email vầ password; sẽ được đưa vào ngForm và gắn cho #formSignIn;
Vậy nên ta muốn truyền mọi input về component thì chỉ cần truyền biến formSignIn là đủ.
(Ở đây đưa vào hàm onSubmit(formSignIn) để truyền formSignIn về)

+Lúc này comp thật dễ dàng để nhận và gửi dl lên server.

+Thành phần trong formSignIn: Lúc này nếu bên comp console.log(formSignIn) thì F12 ta sẽ thấy 1 object NgForm{} lớn,
kéo xuống phần value của object đó, sẽ thấy có chứa mọi input của form.
Nên bên comp muốn lấy ra value thì gọi  console.log(formSignIn.value)
-->

<!-- Bài 45: Validate template form
-Validate dữ liệu: là kiểm tra dữ liệu trước khi form submit lên server, giúp người dùng biết được trường nào họ đang nhập có thể sai.
vd: tại email ép buộc người dùng nhập vào, nếu người dùng chưa nhập vào thì chưa cho phép người dùng bấm btn Submit.

-thuộc tính xét lỗi required(cần thiết: thêm vào sau name): nếu ô đó chưa nhập gì thì lỗi required=true, còn nhập rồi thì lỗi required=false.
và required nó trả về trong errors của Object (F12 ra sẽ thấy).

(bên comp chỉ console.log(formSignIn): render F12 rồi vào object form>controls>email>errors>thấy required=true nếu chưa nhập)

+Nếu formSignIn.controls.email?.errors?.required = true : có nghĩa là chưa nhập, cho hiển thị dòng thông báo.
Dấu email? và errors?: Bởi vì lúc đầu render lên chưa thể có email hay error nếu chưa ấn btn Submit, nên để dấu ? ý là có thể ko có.
(**render ko báo lỗi, nhưng dòng này trong vs code lại báo lỗi: nên tạm thời đóng nó lại).

-Cho ẩn btn Submit nếu chưa nhập dl ô nào đó.
+Sử dụng formSignIn.invalid. CHÚ Ý: invalid: Không hiệu lực >< valid: có hiệu lực
(thuộc tính valid xem trong F12 của từng input đều có).

+Khi ta đặt required cho input nào thì thuộc tính valid(có hiệu lực) sẽ phụ thuộc vào required đó. 
Nếu chưa nhập input thì required=true, lúc đấy thuộc tính valid=false (invalid=true) thì cho button Submit ẩn đi.

+Ở đây formSignIn.invalid là KHÔNG HIỆU LỰC, nó ngược lại với valid, nên cho formSignIn.invalid=true 
có nghĩa valid=false thì cho ẩn btn Submit đi.

+Nếu ta xét valid cho nhiều input, thì nó sẽ xét nếu valid(có hiệu lực) của tất cả === true 
thì mới cho invalid(ko hiệu lực)=false, mới cho hiện btn lên.  
-->
<h3>Bài 43,44: Form - sign-in.component.html</h3>

<!-- nếu ngSubmit thì khi phóng ngoại lên nó sẽ đưa ra console chứ ko đưa lên link -->
<form (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
    <!-- Nếu dùng ngForm để lấy input thì ko cần đến biến email và password trong comp để gắn; 
        còn phần ngModel thì phải để cho có, dù ko gắn gì. -->
        
    <!-- <input placeholder="Email" [(ngModel)]="email" name="email" required> -->
    <input placeholder="Email" ngModel name="email" required>
    <p *ngIf="formSignIn.controls.email?.errors?.required">Email is required</p>

    <br>
    <input type="password" placeholder="Password" ngModel name="password">
    <!-- <input type="password" placeholder="Password" ngModel name="password" required> -->
    <!-- <p *ngIf="formSignIn.controls.password?.errors?.required">Password is required</p> -->

    <br>
    <button [disabled]="formSignIn.invalid">Submit</button>
</form>


