<!-- ĐÂY LÀ FILE HIỂN THỊ DUY NHẤT KHI GEN RA, TẤT CẢ CÁC HTML CỦA COMPONENT PHẢI ĐƯA VỀ ĐÂY -->

<!-- các dấu {{}} là cú pháp để gọi biến title trong app.component.ts-->
<!-- <h1>Welcome to {{ title }}!</h1> -->

<app-world></app-world>
<app-book></app-book>

<app-user-form></app-user-form>


<br>
<app-struct></app-struct>
<p>------------------------------</p>

<app-words></app-words>
<p>------------------------------</p>

<!-- Tại app.component.html: Gọi comp ra và đồng thời truyền input vào comp đó -->
<app-person name="Tèo Nguyễn" age="18"></app-person>
<app-person name="Tí Nguyễn" age="15"></app-person>
<p>------------------------------</p>

<app-list-person></app-list-person>
<p>------------------------------</p>

<app-parent></app-parent>


<br> <br>



