<!-- ĐÂY LÀ FILE HIỂN THỊ DUY NHẤT KHI GEN RA, TẤT CẢ CÁC HTML CỦA COMPONENT PHẢI ĐƯA VỀ ĐÂY -->

<!-- các dấu {{}} là cú pháp để gọi biến title trong app.component.ts-->
<!-- <h1>Welcome to {{ title }}!</h1> -->



<!-- TẠO container, row, panel bằng bs3-container -row -panel -->
<div class="container" [style.margin-top.px]="20">

    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">LEARN ANGULAR</h3>
                </div>
                <div class="panel-body">

                    <app-world></app-world>
                    <hr>

                    <app-book></app-book>
                    <hr>

                    <app-user-form></app-user-form>
                    <hr>


                    <br>
                    <app-struct></app-struct>
                    <p>------------------------------</p>
                    <hr>

                    <app-words></app-words>
                    <p>------------------------------</p>
                    <hr>

                    <!-- INPUT:
                        -Tại app.component.html: Gọi comp con ra và đồng thời truyền input vào comp đó, các biến input phải để trong [] .
                        
                        -Các cách truyền input: biến name,age là 2 biến input của app-person đc gọi ra để gắn giá trị vào, phải để trong dấu [](là dạng property binding):
                        +Nếu gán biến input với 1 biến nào đó từ comp cha: [name]="biến từ comp cha"
                        +Nếu gán cứng giá trị từ html: [name]="'Tèo Nguyễn'" (chuỗi phải trong dấu ''), [age]="18" (số nguyên thì ko cần '')
                    -->

                    <app-person [name]="nameComp" [age]="ageComp"></app-person>
                    <!-- <app-person [name]="'Tèo Nguyễn'" [age]="18"></app-person> -->
                    <app-person [name]="'Tí Nguyễn'" [age]="15"></app-person>

                    <!-- Hoặc cách ko cần dùng [], gán trực tiếp, nhưng cách này ít dùng. -->
                    <!-- <app-person name="Tí Nguyễn" age="15"></app-person> -->

                    <p>------------------------------</p>
                    <hr>

                    <app-list-person></app-list-person>
                    <p>------------------------------</p>
                    <hr>

                    <app-parent></app-parent>
                    <p>------------------------------</p>
                    <hr>



                    <!-- ================NG-CONTENT===================== -->
                    <!-- Trường hợp gọi comp con ra, rồi truyền dl vào, nhưng ko phải là dl @Input, mà là dl ở <comp>dl ở giữa<compcard> thẻ như bình thường, thì lúc này phải
                    truyền vào vị trí ng-content của thẻ đó.
                
                    <compcard NẾU TRUYỀN THEO @INPUT THÌ PHẢI TRUYỀN TRONG NÀY>dl đưa vào mỗi khi gọi nó ra ở comp khác</compcard> -->

                    <!-- Ở ĐÂY CÓ THỂ TRUYỀN LỘN XỘN, NHƯNG NÓ SẼ SX THEO ĐÚNG MÃ ng-content ĐÃ TRUYỀN QUA -->
                    <app-card>
                        <p>truyền vào ng-content ko đk</p>

                        <!-- tương tự TH1 trên cùng, truyền mà ko vào class nào cả, sẽ truyền trong ng-content ko chứa điều kiện, ng-content trên cùng. -->
                        <h1>Value: h1 tag</h1>        
                        <h2>Value: h2 tag</h2>


                        <p class="card-header">truyền vào ng-content có đk là: select=".card-header"</p>
                        <p class="card-body">truyền vào ng-content có đk là: select=".card-body"</p>

                        <!--thậm chí truyền vào thẻ là comp cũng đc. 
                            Truyền nguyên comp app-child vào body, nhưng dòng text thì lại truyền vào chổ <ng-content/> trong comp <app-child> chứ ko phải comp card -->
                        <app-child class="card-body">truyền nguyên cả comp child, vào ng-content có đk là: select=".card-body"</app-child>
                        
                        <!-- Vẫn là truyền theo class như 2 cái ở trên: truyền vào ng-content có select=".myClass"-->
                        <h3 class="myClass">Value: h3 tag: truyền vào ng-content có đk là: select=".myClass"</h3>



                        <!-- Lẽ ra là ko có đk, nên truyền vào ng-content chính, nhưng bên card comp có ng-content cho thẻ h4 riêng, nên nó sẽ truyền vào  vị trí đó. -->
                        <h4>Value: h4 tag: truyền vào ng-content có đk là thẻ h4: select="h4"</h4>

                        <!-- truyền vào ng-content có select="[myAttr]" -->
                        <div myAttr>div tag - Truyền theo Attr: select="[myAttr]"</div>

                        <!-- truyền vào ng-content có select="[course=angular6]" -->
                        <span course="angular6">span tag - truyền theo: select="[course=angular6]"</span>

                        <!-- truyền vào ng-content có select="[handsome][demo]" -->
                        <p handsome demo>Multi tag - truyền theo: select="[handsome][demo]"</p>

                    </app-card>
                    <p>------------------------------</p>
                    <hr>
                    <!-- ================NG-CONTENT===================== -->


                    <app-learn-pipe></app-learn-pipe>
                    <p>------------------------------</p>
                    <hr>

                    <!-- Lấy service từ http://ip.jsontest.com/ -->
                    <app-ip></app-ip>
                    <p>------------------------------</p>
                    <hr>

                    <app-ip2></app-ip2>
                    <p>------------------------------</p>
                    <hr>

                    <app-weather></app-weather>
                    <p>------------------------------</p>
                    <hr>

                    <!-- học service bổ sung: https://www.youtube.com/watch?v=AbQxPC4uKOU&list=PLJ5qtRQovuENHYHqlQP5XT7zwbCA5Q5He&index=31 -->
                    <app-movie-list></app-movie-list>
                    <p>------------------------------</p>
                    <hr>

                    <app-movie-handle></app-movie-handle>
                    <p>------------------------------</p>
                    <hr>



                    <!-- ============================ -->
                    <app-sign-in></app-sign-in>
                    <p>------------------------------</p>
                    <hr>

                    <app-sign-in2></app-sign-in2>
                    <p>------------------------------</p>
                    <hr>

                    <app-sign-in3></app-sign-in3>
                    <p>------------------------------</p>
                    <hr>

                    <app-sign-up></app-sign-up>
                    <p>------------------------------</p>
                    <hr>


                    <app-sign-up2></app-sign-up2>
                    <p>------------------------------</p>
                    <hr>

                    <app-sign-up3></app-sign-up3>
                    <p>------------------------------</p>
                    <hr>


                    
                    <!-- ROUTER -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Router</h3>
                        </div>
                        <div class="panel-body">
                            
                            <!-- có thể dùng navbar như menu -->
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-expand">
                                        <ul class="nav navbar-nav">
                                            <!-- Dạng navbar ban đầu sẽ chọn-tô màu(active) thẻ đầu tiên, ta cần phải điều chỉnh lại.
                                            Để click vào 1 thẻ link nào thì link đó mới đổi màu, thì phải add một class của bs3, add 1 hoặc 2,3 class đều được, vd class active,active2. 

                                            +Sd routerLinkActive: để gọi class, khi nào những router trùng khớp(link đc click) thì nó sẽ đc kích hoạt để gọi class để đổi màu thẻ menu đó.

                                            +routerLinkActiveOptions: để xác nhận thẻ menu link này có phải đường link mặc định ko,
                                            nếu phải thì nó sẽ tô màu ngay khi vừa render lên, nghĩa là ban đầu nó sẽ tự động chọn menu đó.
                                            (ở đây bên app-routing.module.ts đã thiết lập render mặc định là /index: là menu Home, nên ban đầu link menu Home sẽ được chọn và tô màu.)-->
                                            <li routerLinkActive="active active2" [routerLinkActiveOptions]="{ exact : true}">
                                                <a [routerLink]="['/index']">Home</a>
                                            </li>
                                            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
                                                <a [routerLink]="['/contact2']">Contact2</a>
                                            </li>
                                            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
                                                <a [routerLink]="['/about']">About</a>
                                            </li>
                                            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
                                                <a [routerLink]="['/products']">Products</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                            <!-- có thể dùng button thay cho các menu trong navbar -->
                            <button type="button" class="btn btn-primary" [routerLink]="['/index']">Home</button>   <span>{{ ' ' }}</span>
                            <button type="button" class="btn btn-primary" [routerLink]="['/contact2']">Contact2</button>    <span>{{ ' ' }}</span>
                            <button type="button" class="btn btn-primary" [routerLink]="['/about']">About</button>  <span>{{ ' ' }}</span>  
                            <button type="button" class="btn btn-primary" [routerLink]="['/products']">Products</button>  
                            <br><br>



                            <!-- Bắt đầu phần tạo page cho app. Bài 58, 59
                            Mục tiêu: Click vào link Contacts sẽ hiện comp contact, click vào link Detail sẽ hiện comp contacts-detail -->
                            <!-- <a href="/contacts">Contacts</a> : dùng href thì sẽ refresh lại trang, nên ta đổi href thành routerLink-->
                            <a routerLink="/contacts">Contacts</a> <span>{{ ' ' }}</span>
                            <a routerLink="/detail">Detail</a>
                            <br>
                            <hr>
                            
                            

                            <!-- Tại vị trí thẻ router-outlet này sẽ hiển thị ra các comp đc kích vào link. (giống như ng-content vậy, nhưng thẻ này dùng cho routing)
                            Mỗi template chỉ hiển thị 1 thẻ outlet thôi.-->
                            <router-outlet></router-outlet>

                        </div>
                    </div>
                    

                    
                    

                    


                    <br>
                    <br>
                    <hr>

                    <app-learn-pipe2></app-learn-pipe2>
                    <br><br>
                    <hr>


                    <!-- học thêm về input, output: https://www.youtube.com/watch?v=0dp_5uD2lmw&list=PLJ5qtRQovuENHYHqlQP5XT7zwbCA5Q5He&index=13 -->
                    <!-- <app-child2></app-child2> -->
                    <app-parent2></app-parent2>
                    <br><br>
                    <hr>



                    <!-- Vòng đời: xem note bài 37.1 
                    Kích btn thì sẽ ẩn hiện lifecycle comp.
                    Ban đầu đang hiện comp, đến lúc ẩn comp thì hàm OnDestroy() bên comp đó mới thực thi -->
                    <ng-container *ngIf="!isDestroy">
                        <app-lifecycle-hooks [total]="total"></app-lifecycle-hooks>
                    </ng-container>
                    <button type="button" class="btn btn-danger" (click)="onHandleDestroy();">Toggle-Deploy/Destroy Comp LifeCycle</button>
                    <br><br>
                    
                    
                    <!-- Cách 1 dùng ([ngModel]) -->
                    <!-- Số thứ 1: <input type="number" class="form-control" [(ngModel)]="a">
                    Số thứ 2: <input type="number" class="form-control" [(ngModel)]="b">
                    <button type="button" class="btn btn-danger" (click)="amount();">Tính tổng</button> -->


                    <!-- Cách 2 dùng template reference variable.
                    CHÚ Ý:
                    Dạng template ref var luôn nhận vào dạng text, dù ta có để input đầu vào là dạng number đi chăng nữa;
                    ở đây nó sẽ nhận về dạng text và chuyển qua comp sẽ là string, nên bên comp muốn sd dạng số thì phải chuyển đổi trước khi sd.-->
                    Số thứ 1: <input type="number" class="form-control" #a>
                    Số thứ 2: <input type="number" class="form-control" #b>
                    <button type="button" class="btn btn-danger" (click)="amount(a.value, b.value);">Tính tổng</button>



                    <br><br>
                    <hr>
                </div>
            </div>

        </div>
    </div>

</div>