<h3>Bài 48: continouns from folder sign-in</h3>

<form (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
    <!--Trong thẻ input: ngoài required còn có các xử lý lỗi khác như email.
    Lỗi required=true: chưa nhập; lỗi email=true: chưa đúng kiểu email, chưa xác định, not valid-->
    <input placeholder="Email" ngModel #txtEmail="ngModel" name="email" required email>

    <!-- Sử dụng txtEmail thay cho formSignIn.controls.email?: trong thẻ input gán 1 template variable #txtEmail="ngModel" thì txtEmail có thể nhận các giá trị input vào.
    Còn ngModel đứng trước là vẫn để cho có.-->
    <!-- <p *ngIf="formSignIn.controls.email?.errors?.required">Email is required</p> -->
 
    <!-- Thêm sự kiện touched vào có nghĩa là ban đầu chưa show ra lỗi required ngay, khi người dùng kích vào rồi kích chuột ra bên ngoài thì lúc đó nó mới kiểm tra lỗi hay ko.-->
    <p *ngIf="txtEmail.touched && txtEmail.errors?.required">Email is required</p>
    
    <!-- Xử lý lỗi email=true:chưa đúng định dạng. -->
    <p *ngIf="txtEmail.touched && txtEmail.errors?.email">Email is not valid</p>

    <br>
    <input type="password" placeholder="Password" ngModel name="password">
    <!-- <input type="password" placeholder="Password" ngModel name="password" required> -->
    <!-- <p *ngIf="formSignIn.controls.password?.errors?.required">Password is required</p> -->

    <br>
    <button [disabled]="formSignIn.invalid">Submit</button>
</form>

<!--lỗi required=true: chưa nhập; lỗi email=true: chưa đúng kiểu email, chưa xác định, not valid
Ở đây xuất ra màn hình để test thôi.-->
<p>{{ txtEmail.errors | json }}</p>


<!-- custom bên file: STYLES.CSS
-F12 xem khung input email, khi chưa kích vào thì: thấy có các class="ng-untouched ng-pristine ng-invalid", các class con: ng-untouched, ng-pristine, ng-invalid
Còn khi đã kích vào thì các class lại chuyển trạng thái:       class="ng-touched ng-pristine ng-invalid" (ng-invalid: khi chưa nhập, hoặc chưa nhập đúng format) 

vd: ở đây ta sẽ xét nếu như ĐÃ kích chuột vào khung input email rồi lại kích chuột ra ngoài thì đó là touched (class ng-touched), 
nhưng lại chưa thỏa lỗi email(định dạng email) và lỗi required (cả 2 lỗi này thể hiện qua class ng-invalid), thì khung đó sẽ hiện lên màu đỏ.

Lúc này ta cần cấu hình lại file styles.css (file css chính chung cho all) cho 2 class ng-touched (class này chỉ xuất hiện khi trạng thái khi đã kích vào r kích ra,
ngược lại sẽ hiện class ng-untouched), ng-invalid (trạng thái chưa đúng format email), để khi không thỏa 1 trong 2 cái đó thì sẽ hiện lên viền màu đỏ.

bên file styles.css:
input.ng-invalid.ng-touched {
    border: 2px solid red; 
}
-->

