<!-- Cách 4.1: two-way data binding: [(ng-model)] = "property" : tương tác 2 chiều.-->

<!--keyup: khi nhấn 1 phím nào đó, vừa nhấc tay lên thì nó sẽ thực hiện sự kiện showEvent đc gọi, truyền dl vào hàm đó để set thêm cho name,.
Lúc này sẽ truyền dữ liệu vào name thông qua hàm showEvent. Gọi thuộc tính name ở của component ra trong thẻ <h3>.

placeholder: là ô textbox để nhập.

Biến $even: biến chứa thông tin những cái event mình vừa thực hiện, nó có rất nhiều thuộc tính.
Nếu chỉ xuất ra $event thì console.log($event) ra sẽ có rất nhiều thuộc tính, kích vào mục target sẽ có value là giá trị nối, nên sẽ gọi đến value. 
-->
<input placeholder="Enter username" (keyup)="showEvent($event)">
<h3>Your name is: {{ name }}</h3>


<!-- Cách 4.2: cũng với two-way binding: dùng thuộc tính directive: https://angular.io/guide/architecture-components#data-binding
Trong link có dòng: <input [(ngModel)]="hero.name">, giống với cấu trúc [(ng-model)] = "property" của cách 4.1.

-[(ngModel)]="name2": giúp gắn thuộc tính name2 của .ts vào ngModel, giúp name2 nhận đc sự thay đổi từ ngModel.
Lúc này bên ts chỉ cần khai báo name2='' là đủ, ko cần phải tạo hàm. Việc gán các thay đổi cho name2 đã có 
ngModel làm bên file html.
++-->
<!-- Sử dụng kèm theo Template reference variables: https://angular.io/guide/template-syntax 

-các Template reference variables: có thể tham chiếu đến các thể DOM element, hoặc tham chiếu tới component 
hoặc Directive vừa học ở bài 12.
-các Template reference variables: bắt đầu bằng dấu #

vd: <input #phone placeholder="phone number">

-Ở bài này #txtUsername tham chiếu đến ngModel, nhận các thay đổi từ ngModel.
lúc gọi ra #txtUsername.value và theo định dạng json nên bọc ngoài sẽ có dấu ""
-->
<input placeholder="Enter username2" [(ngModel)]="name2" #txtUsername>
<h3>Your name is: {{ name2 }}</h3>
<code>{{ txtUsername.value | json }}</code> 


<!-- Style binding : dùng để binding các tính chất thuộc về style như color, size...-->
<br>
<input placeholder="Enter username3" [(ngModel)]="name3">

<!--TH gán cứng màu, ko linh động được -->
<!-- <h3 style="color: red">Your name is: {{ name3 }}</h3>-->

<!-- Trường hợp gọi thuộc tính color của style, chỉ định màu là " 'red' ", nếu ko có dấu '' thì nó lại hiểu là biến red trong comp chứ ko phải red là chuỗi màu red đỏ. -->
<!-- <h3 [style.color]="name3.length % 2 === 0 ? 'red' : 'black'">Your name is: {{ name3 }}</h3> -->

<!-- Trường hợp ko gán cứng, ta gọi đến biến style trong comp -->
<!-- +Cách ko sử dụng Directive ngStyle -->
<!-- <h3 [style.color]="isHighLight ? 'red' : 'black'"   [style.fontSize]="isHighLight ? '40px' : '20px'">Your name is: {{ name3 }}</h3> -->

<!-- +Cách CÓ sử dụng Directive ngStyle : dùng để gọi các tính chất thuộc về style như color, size...
Sử dụng ngStyle: dùng để thêm hoặc xóa nhiều CSS style cùng 1 lúc, các css style như color, fontSize...-->
<!-- <h3 [ngStyle]="{ color: 'blue', fontSize: '30px'}">Your name is: {{ name3 }}</h3> -->
<h3 [ngStyle]="name3.length % 2 === 0 ? evenStyle : oddStyle">Your name is: {{ name3 }}</h3> <!--evenStyle và oddStyle là các biến trong comp, nó nằm trong dấu "" -->




<!-- Tại file html cần phân biệt:
    +Trong trường hợp gọi [class]: thì "A" là gọi tới biến A trong comp, "'A'" là chuỗi A của html sử dụng tính chất của chuỗi A đó.
    +còn gọi class CSS thì phải 'classCSS'. 
-->

<!-- ======================== -->
<!-- Class binding : dùng để gọi các class bên css hoặc js-->

<!-- TH gán cứng: "square" gọi đến class square trong file css, vì dấu "" -->
<!-- <div class="square"></div> -->

<!-- TH gán linh động-->
<div [class] = "isHighLight ? 'circle' : 'square'"></div> <!--isHighLight=true thì gọi class circle trong css, hiện hình tròn. biến isHighLight bên comp là true.-->
<div [class.circle] = !isHighLight  [class.square] = isHighLight></div> <!-- Nếu isHighLight=true thì ở trên hiện tròn, ở dưới square=true nên hiện vuông
                                                                            nếu isHighLight=false thì trên vuông, dưới sẽ circle=!false=true nên hiện tròn.-->

<!-- Sử dụng ngClass: dùng để thêm hoặc xóa nhiều CSS class cùng 1 lúc-->

<!-- gọi đến class circle trong css .
Cú pháp: 
[ngClass]="{ 'classCSS': bienBool }" : nếu bienBool (thường thì gán trực tiếp là true/false hoặc lấy bên comp qua) trả về true thì cho classCSS này hiển thị(thêm class vào),
ngược lại sẽ ẩn classCSS đó đi (xóa đi).-->
<!-- <div [ngClass]="{ 'circle': true }"></div> -->

<!-- gọi đến biến current trong comp.ts-->
<div [ngClass]="current"></div> 