<div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Comp Rest-Todo</h3>
    </div>
    <div class="panel-body">
      
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Completed</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resttodo of resttodos">
                <td>{{ resttodo.id }}</td>
                <td>{{ resttodo.title }}</td>
                <td>{{ resttodo.completed ? 'Completed' : 'Inprogress' }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="onEditTodo(resttodo);">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="onDeleteTodo(resttodo.id);">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>

          <hr>
          <form>
            <legend>Add RestTodo</legend>
          
            <div class="form-group">
              <label for="">Title</label>
              <!-- nếu sd ngModel trong class form thì phải add dòng này sau ngModel: [ngModelOptions]="{standalone: true}" -->
              <input type="text" class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
            </div>

            <!-- nếu sd ngModel trong class form thì phải add dòng này sau ngModel: [ngModelOptions]="{standalone: true}" -->
            <select class="form-control" [(ngModel)]="completed" [ngModelOptions]="{standalone: true}">
              <!-- Chú ý: bản chất của select là truyền vào các giá trị string, nên muốn trả về đúng giá trị true/false boolean, thì phải sd [ngValue] -->
              <!-- <option value="true">Completed</option> :TH NÀY SẼ TRUYỀN VỀ "true" kiểu string-->
              
              <!-- TH NÀY DÙNG ngValue nên trả về kiểu "true/false" boolean -->
              <option [ngValue]="true">Completed</option> <!--  -->
              <option [ngValue]="false">Inprogress</option>
            </select>
            
            <button type="submit" class="btn btn-primary" (click)="onAddRestTodo();">Add</button>
          </form>

          <hr>
          <!-- Vì ban đầu bên comp, ta cho object resttodo=null, phải ktra trước, nếu =difined !=null thì mới cho hiển thị ra. 
          Cái này dùng cho edit, nếu đã chọn 1 object để edit thì resttodo lúc đó đã !=null, lúc đó form edit này mới hiện lên.-->
          <form *ngIf="resttodo">
            <legend>Edit RestTodo</legend>
          
            <div class="form-group">
              <label for="">Title</label>
              <!-- nếu sd ngModel trong class form thì phải add dòng này sau ngModel: [ngModelOptions]="{standalone: true}" -->
              <input type="text" class="form-control" [(ngModel)]="resttodo.title" [ngModelOptions]="{standalone: true}">
            </div>

            <!-- nếu sd ngModel trong class form thì phải add dòng này sau ngModel: [ngModelOptions]="{standalone: true}" -->
            <select class="form-control" [(ngModel)]="resttodo.completed" [ngModelOptions]="{standalone: true}">
              <option value="true">Completed</option>
              <option value="false">Inprogress</option>
            </select>
            
            <button type="submit" class="btn btn-primary" (click)="onUpdateRestTodo();">Save</button>
          </form>

          
        </div>
      </div>

    </div>
</div>
